@import url(c:\Users\Arvin\Desktop\Week6-perfume\app\assets\style\scss\bootstrap\bootstrap.css);
/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:focus {
  text-decoration: none !important;
  display: block !important;
}

/*-------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

img {
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.material-icons {
  vertical-align: bottom !important;
}

.mr-8 {
  margin-right: 1.75rem !important;
}

.mr-10 {
  margin-right: 2.25rem !important;
}

.mb-5 {
  margin-bottom: 1rem !important;
}

.mb-6 {
  margin-bottom: 1.25rem !important;
}

.mb-7 {
  margin-bottom: 2rem !important;
}

.mb-8 {
  margin-bottom: 3.75rem !important;
}

.mb-9 {
  margin-bottom: 2rem !important;
}

.mb-10 {
  margin-bottom: 2.25rem !important;
}

.mb-11 {
  margin-bottom: 3.75rem !important;
}

.pb-17 {
  padding-bottom: 7rem !important;
}

.py-8 {
  padding-bottom: 1.75rem !important;
  padding-top: 1.75rem !important;
}

.py-md-11 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.mr-md-6 {
  margin-right: 1.25rem !important;
}

.mb-md-9 {
  margin-bottom: 2rem !important;
}

.mb-md-13 {
  margin-bottom: 3.75rem;
}

@media (min-width: 769px) {
  .mb-md-15 {
    margin-bottom: 5rem !important;
  }
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
}

/*-------------------------------*/
.text-2_sm {
  font-size: 0.875rem !important;
}

.text-mb-sm {
  font-size: 0.875rem !important;
}

.text-xl {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 36px !important;
}

.text-2_xl {
  font-size: 2.25rem !important;
}

.text-3xl {
  font-size: 2rem !important;
  font-weight: bold !important;
  line-height: 48px !important;
}

.text-lg {
  font-size: 1.25rem !important;
  font-weight: 500;
}

.text-3_lg {
  font-size: 1.75rem !important;
}

@media (min-width: 769px) {
  .text-md-base {
    font-size: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-xl {
    font-size: 1.5rem !important;
  }
}

/*-------------------------------*/
.text-line {
  text-decoration: line-through !important;
}

.text-primary {
  color: #916019 !important;
}

.text-gray {
  color: #8D8D8D;
}

.text-black {
  color: #000;
}

.text-black:hover {
  color: #916000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.text-info-dark {
  color: #848484 !important;
  font-weight: bold !important;
}

.text-info-dark:hover {
  color: #000 !important;
}

.text-light-50 {
  color: #818A91 !important;
}

/*-------------------------------*/
.nav-link {
  line-height: 1.2;
}

.nav-link:hover {
  color: #916019 !important;
  -webkit-transition: all 0.9s !important;
  transition: all 0.9s !important;
}

/*-------------------------------*/
.border {
  border: 2px solid #dee2e6 !important;
}

.border-2 {
  border-width: 2px !important;
  border-style: solid !important;
}

.bg-primary {
  background-color: #916019 !important;
}

.bg-light {
  background-color: #E0E0E0 !important;
}

.bg-light .card_img-top {
  width: 100%;
}

.bg-light .filter_brightness-dark {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.border-primary {
  border-color: #916019 !important;
  border-width: 2px !important;
}

.border-black {
  border-color: #000 !important;
}

/*-------------------------------*/
.product-text a {
  color: #AC8A46;
}

.product-text a:hover {
  color: #775015;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page_link {
  font-size: 20px !important;
  color: #000;
  padding: 0 10px;
}

.page_link-active:hover {
  color: #AC8A46 !important;
  text-decoration: underline !important;
  -webkit-transition: all 0.6s !important;
  transition: all 0.6s !important;
}

/*-------------------------------*/
.btn-outline-white {
  color: #fff !important;
  border-color: #fff !important;
}

.btn-outline-white:hover {
  color: #000 !important;
  border-color: #000 !important;
  -webkit-transition: all 0.6s !important;
  transition: all 0.6s !important;
}

.btn-outline-black {
  color: #000 !important;
  border-color: #000 !important;
  border-width: 2px !important;
}

.btn-outline-black:hover {
  background: #000 !important;
  color: #fff !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.btn-primary {
  background-color: #916019 !important;
  border-color: #916019 !important;
  border-radius: 4px 0 0 4px !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #7D5415 !important;
  border-color: #916019 !important;
}

/*-------------------------------*/
.card_title-link {
  color: #000;
}

.card_title-link:hover {
  color: #AC8A46 !important;
  -webkit-transition: all 0.6s !important;
  transition: all 0.6s !important;
}

/*-------------------------------*/
.hover_shadow {
  padding: 2px;
}

.hover_shadow:hover {
  -webkit-box-shadow: 5px 5px 5px #D1BC8F;
          box-shadow: 5px 5px 5px #D1BC8F;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.hover_bg:hover {
  background-color: #916019;
  color: #fff !important;
}

/*-------------------------------*/
.navbar .navbar-brand {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true") no-repeat center center;
  background-size: 100%;
  text-indent: 101%;
  overflow: hidden;
  width: 128px;
  height: 38px;
  white-space: nowrap;
  display: inline-block;
}

.navbar .absolute-top-center {
  left: 50%;
  background: #916019;
}

.navbar .collapse:not(.show) {
  display: none;
}

.bg-subscribe {
  height: 600px;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-subscribe .form-control-lg {
  height: calc(1.5em + 36px);
  padding: 17px 16px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px 0 0 4px;
  display: block;
  width: 100%;
}

.bg-subscribe .btn-lg {
  padding: 17px 24px;
  font-size: 1rem;
  border-radius: 0px !important;
}

.white_logo {
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite@2x.png?raw=true) no-repeat center center;
  background-size: 100%;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 128px;
  height: 38px;
}

.banner {
  height: 870px;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true);
  background-position: center;
  background-size: cover;
}

.card {
  background-color: #E0E0E0 !important;
  border: 0px !important;
}

.item-title .p-4 {
  padding: 0.85rem 0 !important;
  padding-right: 2rem !important;
}

.item-title .p-4:hover {
  background-color: #9A7C3F;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.card_item {
  background-color: #fff !important;
}

.card_item .card_title-link {
  font-size: 24px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
}

.card_item .card_text {
  line-height: 24px !important;
}

.card_item .ml-3 {
  margin-left: 0.5rem !important;
}

.card_item .card_link {
  color: #916019;
}

.card_item .card_link:first-child {
  margin-right: 11px;
}

.item-title .p-4 {
  padding: 0.85rem 0 !important;
  padding-right: 2rem !important;
}

.item-title .p-4:hover {
  background-color: #9A7C3F;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

.position-relative {
  position: relative !important;
}

@media (min-width: 769px) {
  .position-md-absolute {
    position: absolute !important;
  }
}

@media (min-width: 769px) {
  .right-md-0 {
    right: 0;
  }
}

.custom-select {
  display: inline-block;
  border: 1px solid #916019;
  border-radius: 4px 0 0 4px;
}

.btn {
  border-radius: 0px !important;
}

.item-title .p-4 {
  padding: 0.85rem 0 !important;
  padding-right: 2rem !important;
}

.item-title .p-4:hover {
  background-color: #9A7C3F;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.card {
  border: none;
}

.card .card_title-link {
  font-size: 24px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
}

.card .card_text {
  line-height: 24px;
}

.card .ml-3 {
  margin-left: 0.5rem !important;
}

.card .card_link {
  color: #916019;
}

.card .card_link:first-child {
  margin-right: 11px;
}

.member-nav .active::after {
  position: absolute;
  content: '';
  width: 100%;
  background: #916000;
  height: 2px;
  left: 0;
  bottom: -4px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff !important;
  border-color: #916000 !important;
  background-color: #916000 !important;
}
/*# sourceMappingURL=all.css.map */