.banner{
  height: 870px;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true);
  background-position: center;
  background-size: cover;
}
.card{
    background-color: #E0E0E0!important;
    border: 0px!important;
}


