.navbar{
  .navbar-brand{
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true") no-repeat center center;
    background-size: 100%;
    text-indent: 101%;
    overflow: hidden;
    width: 128px;
    height: 38px;
    white-space: nowrap;
    display: inline-block;
  }
  .absolute-top-center{
    left: 50%;
    background: #916019;
  }
  .collapse{
    &:not(.show){
      display: none;
    }
  }
}

